/* li start */
.menuC {   
  zoom: 1;
  overflow: hidden;
  padding: 0 0 30px;
  margin: -1% 0 0 -1%;}
  .menuC li {    
    list-style:none;
    float: left;
    width: 99%;
    min-width: 119px;
    color: #0c0b0b;
    margin: 1% 0 0 1%;}
    .menuC li a {
      background: #21016c;
      border-radius: 10rem;
      /* 타원형 R value */
      text-decoration:none;
      color: #ded5d5;
      /* 라인 글 짜색 */
      display: block;
      width: 100%;
      padding: 11px 10px 10px;
      font-size: 28px;
      line-height: 50px;
      border: 1px solid #000000;
      text-align: center;
      transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      box-sizing: border-box;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      border: 1px solid #000000; 
      /* 표라인 색상 */
      -webkit-box-sizing: border-box;}  
  .menuCategory {   
    zoom: 1;
    overflow: hidden;
    padding: 0 0 30px;
    margin: -1% 0 0 -1%;}
  .menuCategory li {    
    list-style:none;
    float: left;
    width: 15%;
    min-width: 119px;
    color: #0c0b0b;
    margin: 1% 0 0 1%;}
    .menuCategory li a {
      border-radius: 10rem;
      /* 타원형 R value */
      text-decoration:none;
      color: #000000;
      /* 라인 글 짜색 */
      display: block;
      width: 100%;
      padding: 11px 10px 10px;
      font-size: 15px;
      line-height: 50px;
      border: 1px solid #000000;
      text-align: center;
      transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      box-sizing: border-box;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      border: 1px solid #000000; 
      /* 표라인 색상 */
      -webkit-box-sizing: border-box;}   
  
/* li End */



.container {
  width: 80%;
  margin: 30px auto;
}

.expandable-boxes {
  position: relative;
}

.expandable-box {
  width: 39%;
  height: 210px;
  float: left;
  margin: 5% 3% 20px 0;
  border: 1px solid #d9e3e7;
  background: #21016c;
  color: #FFFFFF;
  border-radius: 12px;
  padding: 10px;
  box-sizing: border-box;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
   display: table-cell;
        vertical-align: middle;
        text-align: center;
}
.expandable-bo {
  width: 10%;
  height: 130px;
  float: left;
  margin: 0 3% 20px 0;
  border: 1px solid #ffffff;
  border-radius: 12px;
  padding: 10px;
  box-sizing: border-box;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  
}
.button
  {
      background: #21016c;
      width: 25%;
      border: 20;
      padding: 15px;
      color: #FFFFFF;
      font-size:22px;
      border-radius: 10rem;
      cursor: pointer;
      margin : 50px 4em 0 auto;
    
    
      transform: translateX(80%);
      /* button 좌우 조정 */
    }
    .item1{
      background: #21016c;
      width: 60%;
      border: 20;
      padding: 15px;
      color: #FFFFFF;
      font-size:22px;
      border-radius: 10rem;
      cursor: pointer;
      
    margin : 50px 4em 0 auto;
    
      transform: translateX( -30%);
      /* button 좌우 조정 */
    }
    p {

      font-size:28px;
      text-align: center;

    }
    .item4{
      background: #21016c;
      width: 60%;
      border: 20;
      padding: 15px;
      color: #FFFFFF;
      font-size:22px;
      border-radius: 10rem;
      cursor: pointer;
      
    margin : 50px 4em 0 auto;
    
      transform: translateX( -30%);
      /* button 좌우 조정 */
    }