<!DOCTYPE html>
<html lang="ko">
<head> 
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/adminControl.css">
    <script src="/js/home/adminControl.js" defer></script>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" ></script>
   
    <title>Document</title> 
</html> 
<body> 
    
    <!DOCTYPE html>
<div style="font-size:30px;margin:30px 0px 30px 0px;text-align:center;" >사용자 정보 </div> 
<!-- <div style="font-size:30px;margin:30px 0px 30px 0px;text-align:center;" >AS IS</div>  -->



<ul class="menuCategory">
    <li ><a style="border: 1px solid #1a0404">이름</a></li>
    <li >1</a></li>
    <li><a style="display: none">2</a>
    </li>
    <li><a  style="border: 1px solid #1a0404">전화번호</a>
    </li>
    <li><a >2</a>
    </li>
    <li><a >3</a>
    </li>
    <li><a id="name"style="font-size: 30px" ></a>
    </li>
    <li><a >4</a>
    </li>
    <li><a >5</a>
    </li>
    <li><a id ="phon"style="font-size: 30px" ></a>
    </li>
    <li><a >7</a>
    </li>
    <li><a >8</a>
    </li>

    <li><a >9</a>
    </li>
    <li><a >10</a>
    </li>
    <li><a >11</a>
    </li>
    <li><a >12</a>
    </li>
    <li><a >13</a>
    </li> <li><a >14</a>
    </li>
    <li><a >15</a>
    </li>
    <li><a >16</a>
    </li>
    <li><a >17</a>
    </li>
    <li><a >18</a>
    </li>
    <!-- //참고 -->
</ul>

<br><br>

<div class="modal hidden">
    
	<div class="bg"></div>
     <div class="modalBox"> 
        <form> 
		<button class="closeBtn">닫기</button>
        <!-- <p><h3 id="dyas"> 날짜 추가 및 차감</h3> 
          <input class="closeBtn2" id = "day" type="text" placeholder="+추가및 차감할 일일 - 단위: 일일"/> </p>  -->
       <p> <h3 id="times"> 시간 추가 및 차감</h3>   
      <input class="closeBtn2" id = "time" type="text" placeholder="+추가및 차감할  시간 - 단위: 시간"/></p> 
      <p> <h2 id = "expiry"> 유효기간 추가 및 차감 </h3>   
        <input class="closeBtn2" id = "expiry-subtraction" type="text" placeholder="-추가및 차감할 유호기간 - 단위: 일일"/> </p>  
      <div>
        <P> <h3>추가하기</h3>   
        <button type ="button" class="box item1" value ="add">추가</button></p>
        <P> <h3>차감하기</h3>   
          <button type ="button" class="box item1" value ="sub">차감</button></p>

      </div>
        
    </form> 
        </select>
        


</div>

</div>
<!-- <div style="font-size:30px;margin:30px 0px 30px 0px;text-align:center;" >TO BE</div>  -->
<ul class="MXmenuCategory">
    <li></li>
    <li></li>
    <li id ="openBtn" ><a>시간 조정</a></li>
    
   

    <!-- //참고 -->
</ul>

</body>