<!DOCTYPE html>
<html lang="ko">
<head> 
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/adminBench.css">
    <script src="/js/home/adminBench.js" defer></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" ></script>
   
    <title>Document</title> 
</html> 
<body> 

    <!-- model start -->
    
<div class="modal hidden">
    
	<div class="bg"></div>
     <div class="modalBox">
		<button class="closeBtn">x</button>
		<select name="likeLanguage" id="seet" class="pl">
            <option value="0" selected>좌석 타입</option>
            <option value = "fixedType" id="fixedType" >고정석</option>
            <option value = "feeType"id="feeType" >자유석</option>
            <option value = "daysType"id="daysType" >기간제</option>
            
        </select>
		
	</div>
</div>
 <!-- model end -->

    

    

<div class="buttons" id ="openBtn">
    
     <button id ="1"  value ="2set"  class="btn-hover color-1"> 1set </button>
     <button id ="2"  value ="2set"  class="btn-hover color-2"> 2set </button>
     <button id ="3"  value ="3set"  class="btn-hover color-3"> 3set </button>
     <button id ="4"  value ="4set"  class="btn-hover color-4"> 4set </button>
     <button id ="5"  value ="5set"  class="btn-hover color-5"> 5set </button>
     <button id ="6"  value ="6set"  class="btn-hover color-6"> 6set </button>
     <button id ="7"  value ="7set"  class="btn-hover color-7"> 8set </button>
   
     <button id ="8"  value ="8set"  class="btn-hover color-1"> 8set </button>
     <button id ="9"  value ="9set"  class="btn-hover color-2"> 9set </button>
     <button id ="10"  value ="10set"  class="btn-hover color-3">10set </button>
     <button id ="11"  value ="11set"  class="btn-hover color-4"> 11set </button>
     <button id ="12"  value ="12set"  class="btn-hover color-5"> 12set </button>
     <button id ="13"  value ="13set"  class="btn-hover color-6"> 13set </button>
     <button id ="14"  value ="14set"  class="btn-hover color-7"> 14set </button>
     <button id ="15"  value ="15set"  class="btn-hover color-7"> 15set </button>
    </div>

</div>

</body>