<!DOCTYPE html>
<html lang="ko">
<head> 
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/adminLogin.css">
    <script src="/js/home/adminLogin.js" defer></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" ></script>
   
    <title>Document</title> 
</html> 
<body> 
    <div class="login">
        <h1>admin  -  Login</h1>
     
            <input id = "id" type="text" placeholder="admin name"/>
            <input id ="psword" type="password" placeholder="admin password"/>
           <p> <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button></p>
 
    </div>
    

   


</body>