<!DOCTYPE html>
<html lang="ko">
<head> 
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/adminn.css">
    <script src="/js/home/admin.js" defer></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" ></script>
   
    <title>Document</title> 
</html> 
<body> 
    
<div class="buttons">
    <!-- <a href = "fee"> -->
        
     <button  class="btn-hover color-1">매출조회 </button>
     <button  class="btn-hover color-2">회원관리</button>
     <button class="btn-hover color-3">시간조정</button>
    <button  class="btn-hover color-4">좌석현황</button>
    <button class="btn-hover color-5">강제오픈</button>
    <button class="btn-hover color-6">사물함이동</button>
    <button class="btn-hover color-7">요금설정</button>
    <button class="btn-hover color-8">이용원/마일리지 생성</button>
    <button class="btn-hover color-9">안내문변경</button>
    <button class="btn-hover color-10">입퇴실 현황</button>
    <button class="btn-hover color-11">사물함</button>
    <button class="btn-hover color-5">스터디룸삭제</button>
    <button class="btn-hover color-6">마일리지생성</button>
    <button class="btn-hover color-7">이용권결제</button>
    <button class="btn-hover color-8">지점정보설정</button>
    <button class="btn-hover color-9">공지사항</button>
    <button class="btn-hover color-10">키오스크표기 변경</button>
    <button class="btn-hover color-11">문자전송</button>
    <button class="btn-hover color-5">비밀번호초기화</button>
    <button class="btn-hover color-6">문자 전송 내역</button>
    <button class="btn-hover color-7">알림톡 설정</button>
    <button class="btn-hover color-8">커버페이지 설정</button>
    <button class="btn-hover color-9">마스터키 설정</button>
 
<!-- </a> -->
</div>

</body>