<!DOCTYPE html>
<html lang="ko">
<head> 
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/bench.css">
    <script src="/js/home/bench.js" defer></script>
    <!-- <script src="/js/home/adminViews.js" defer></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" ></script>
   
    <title>Document</title> 
</html> 
<body> 
    <ul class="menuCategory">
     <li><a style="background : blue"  >고정석</a>
    </li>
    <li><a style="background : yellow">시간제(자유석)</a>
    </li>
    <li><a style="background : green">기간제</a>
    </li>
    <!-- //참고 -->
</ul>
<div class="buttons">
    <!-- <a href = "fee"> -->
     <button  id = "1set"  value ="1"  data-id ="" class="btn-hover color-1"> 1set </button>
     <button  id = "2set"  value ="2"  data-id ="" class="btn-hover color-2"> 2set</button>
     <button  id = "3set"  value ="3"  data-id ="" class="btn-hover color-3"> 3set </button>
     <button  id = "4set"  value ="4"  data-id ="" class="btn-hover color-4"> 4set</button>
     <button  id = "5set"  value ="5"  data-id ="" class="btn-hover color-5"> 5set </button>
     <button  id = "6set"  value ="6"  data-id ="" class="btn-hover color-6"> 6set</button>
     <button  id = "7set"  value ="7"  data-id ="" class="btn-hover color-7"> 7set </button>
     <button  id = "8set"" value ="8"  data-id ="" class="btn-hover color-8"> 8set</button>
     <button  id = "9set"  value ="9"  data-id ="" class="btn-hover color-9"> 9set </button>
     <button  id = "10set" value ="10"  data-id ="" class="btn-hover color-10"> 10set</button>
     <button  id = "11set"  value ="11"  data-id ="" class="btn-hover color-9"> 11set </button>
     <button  id = "12set" value ="12"  data-id ="" class="btn-hover color-10"> 12set</button>
     <button  id = "13set"  value ="13"  data-id ="" class="btn-hover color-9"> 13set </button>
     <button  id = "14set" value ="14"  data-id ="" class="btn-hover color-10"> 14set</button>
     <button  id = "15set"  value ="15"  data-id ="" class="btn-hover color-9"> 15set </button>
     <button  id = "16set" value ="16"  data-id ="" class="btn-hover color-10"> 16set</button>
     <button  id = "17set" value ="17"  data-id ="" class="btn-hover color-10"> 17set</button>
  <!-- id 값과 data-id 값 생성 -->
<!-- </a> -->
</div>

</body>