<!DOCTYPE html>
<html lang="ko">
<head> 
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/certification.js" defer></script>
    <script src="https://unpkg.com/hangul-js" type="text/javascript"></script>
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
         
          <form class="login-form">
            
            <input class = "targetinput" id ="name" type="test" placeholder="이름"/>
            <input class = "targetinput"id ="telephon" type="telephon" placeholder="전화 번호 "/>
             <p id= "button">인증번호정송 </p id="button">
              <input class = "targetinput" id ="certification" type="telephon" placeholder="인증번호"/>
            <p class="message">Already registered? <a href="/login">login</a></p>
            <p id= "buttons">인증번호</p id="buttons">
          </form>
        </div>
      </div>  
      <div class = box1>

        <ul class="menuC">
             <li id="goodsNmae" style="display:none"><a>상품명</a></li>
           </ul>
           <h1 id = "userName"></h1>
           <ul class="menuCategory">
             <li><a ></a></li> 
             <li><a ></a></li> 
             <li><a ></a></li>  
             <li><a ></a></li>
             <li><a ></a></li> 
             <li><a></a></li>
             <li><a></a></li> 
             <li><a > </a></li>
             <li><a  > </a></li> 
             <li><a ></a></li>
             <li><a  ></a></li> 
             <li><a ></a></li>
             <li><a  ></a></li> 
             <li><a ></a></li>
             <li><a  ></a></li> 
             <li><a  ></a></li> 
             <li><a  ></a></li>  
             <li><a  ></a></li>
             <li><a  ></a></li> 
             <li><a  ></a></li>
             <li><a  ></a></li> 
             <li><a  > </a></li>
             <li><a  > </a></li> 
             <li><a ></a></li>
             <li><a > </a></li>
             <li><a  ></a></li> 
             <li><a  ></a></li>
             <li><a  > </a></li> 
             <li><a ></a></li>
             <li><a  ></a></li> 
             <li><a  > </a></li>
             <li><a > </a></li> 
             <li><a ></a></li>
             <li><a ></a></li> 
             <li><a > </a></li>
             <li><a  > </a></li> 
             <li><a ></a></li>
             <li><a ></a></li> 
             <li><a > </a></li>
             <li><a  > </a></li> 
             <li><a ></a></li>
             <li><a  ></a></li>
             <li><a> </a></li> 
             <li><a ></a></li>
          
           </ul>
      </div>
</body>

</html> 
  