<!DOCTYPE html>
<html lang="ko">
<head> 
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/fee.css">
    <script src="/js/home/fee.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" ></script>
    <title>Document</title> 
</html> 
<body>  
<div class="buttons">
  
    <button value ="1"  class="btn-hover color-1">1-day</button>
    <button value ="2"class="btn-hover color-2">2-day</button>
    <button value ="3"class="btn-hover color-3">3-day</button>
    <button value ="4"class="btn-hover color-4">4-day</button>
    <button value ="5"class="btn-hover color-5">5-day</button>
    <button value ="6"class="btn-hover color-6">6-day</button>
    <button value ="7"class="btn-hover color-7">7-day</button>
    <button value ="8"class="btn-hover color-8">8-day</button>
    <button value ="9"class="btn-hover color-9">9-day</button>
    <button value ="10"class="btn-hover color-10">10-day</button>
    <button class="btn-hover color-11">BUTTON</button>
    
</div>
</body>