<!DOCTYPE html>
<html lang="ko">
<head> 
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/goodsPush.css">
    <script src="/js/home/goodsPush.js" defer></script>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" ></script>
   
    <title>Document</title> 
</html> 
<body> 
  <table>
    <!--  가로 정렬 제목 -->
   
    <thead>
      <tr class ="phonName">
        <th>전화 번호</th>
        <th>이름</th>
       </tr>
    </thead>
  </div>
    <tbody> 
    
    </tbody>
  <ul class="tab">
    <li class="tab__item active" id="detail" >
      <a href="#tab1">상품 구매</a>
      

    </li>
    <li class="tab__item" id="enter">
      <a href="#tab2">문열기</a> 
    </li> 
    <li class="tab__item" id="next">
      <a href="#tab3">퇴실</a>
    </li>
    
  </ul>
  
  <!-- 탭 내용 영역 //////////////////////////////////// -->
  <h1 id="user"> 사용자를 선택 하세요 </h1>
  <input class="search" id = "searchID" type="text" placeholder="전화번호 또는 이름을 검색하세요"/> </p>  
  <button id ="button_2">검색</button>
  <div class="bg"></div>
     <div class="modalBox">
      <h2 id = "stude"> 사물함,- Studey </h2>
		<select name="likeLanguage" id="seet" class="pl">
            <option value="0" >좌석 타입</option>
            <option value = "fixed" id="fixed" >고정석</option>
            <option value = "fee"id="fee" >충전권</option>
        </select>
    <h2 id="goodss"> 상품 </h2>
		<select name="likeLanguage" id="goods" class="pl">
      <option value="1" selected>좌석 타입</option>
      <option value ="fixedType" id="fixedType" >고정석</option>
      <option value ="daysType"id="daysType" >기간권</option>
      <option value ="feeType"id="feeType" >충전권</option>
      </select>
      
  <h2 class="details"> 상품 선택 하세요 </h2>
    <select name="likeLanguage" id="fixedTypess"   class="detail">
       <option value="고정석" class="detail"></option>
    </select>
       <select name="likeLanguage" id="feeTypess" class="detail2"></select>
        <select name="likeLanguage" id="daysTypess" class="detail3"></select>
    
     </select>
   
     <h2 class="details"> 유효기간 </h2>
     <p> <h3 id = "expiry"> 유효기간 설정 </h3>   
      <input class="closeBtn2" id = "expiryDay" type="text" placeholder="유효기간 설정"/> </p>  
      
      
<p><button class ="button">다음</button></p>
	</div>
</div>
    
    <div id="tab2" class="tab__content">
     
    </div>
    <div id="tab3" class="tab__content">
      
    </div>
   
  </div>


  
  

  
</body