<!DOCTYPE html>
<html lang="ko">
<head> 
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/goodsKinds.css">
    <script src="/js/home/goodsKinds.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" ></script>
    <title>Document</title> 
</html> 
<body>
<div class="buttons">
  
    <button value ="fixed" data-setOne   ="고정석 "class="btn-hover color-1">고정석</button>
    <button value ="fee" data-setTwo   ="자유석" class="btn-hover color-2">자유석</button>
    <button value ="days" data-setThree ="기간제" class="btn-hover color-3">기간제</button>
    
    
</div>
</body>