<!DOCTYPE html>
<html lang="ko">
<head> 
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/Kioce.css">
    <script src="/js/home/Kioce.js" defer></script>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" ></script>
   
    <title>Document</title> 
</html> 
<body> 
  <ul class="tab">
    <li class="tab__item active">
      <a href="#tab1">정기권</a>
      

    </li>
    <li class="tab__item">
      <a href="#tab2">충전권</a>
    </li> 
    <li class="tab__item">
      <a href="#tab3">일일권</a>
    </li>
    
  </ul>
  
  <!-- 탭 내용 영역 //////////////////////////////////// -->
  <!-- 고정석 -->
  <div class="tab__content-wrapper">
     <div id="tab1" class="tab__content active" >
         <table class="afternoon-session" cellspacing="1">
        <tbody id = "k">
           <tr>
           
            <th scope="row">상품 이름</th>
            <th scope="row">금액 </th>
             <th scope="row">상태</th>
             <th scope="row">유효기간</th>
       
             <!-- <th scope="row">등록일</th> -->
           </tr>
          </tbody>
        
       </table>
    </div>
   
    <!-- 충전권-->
    <div id="tab2" class="tab__content">
      <table class="afternoon-session" cellspacing="1">
        <tbody id = "ree">
           <tr>
            <th scope="row">상품 이름</th>
            <th scope="row">금액 </th>
             <th scope="row">상태</th>
             <th scope="row">유효기간</th>
           </tr>
          </tbody>
        
       </table>
       </div>

      <div id="tab2" class="tab__content">
      <table class="afternoon-session" cellspacing="1">
        <tbody id = "rs">
           <tr>
            <th scope="row">상품 이름</th>
            <th scope="row">금액 </th>
             <th scope="row">상태</th>
             <th scope="row">유효기간</th>
       
             <!-- <th scope="row">등록일</th> -->
           </tr>
          </tbody>
        
       </table>
       </div>
   
  </div>

  <!--별개 -->
  <!-- <div>
  <table>
    <!--  가로 정렬 제목 -->
    <!-- <thead>
      <tr>
        <th>상품명</th>
        <th>금액</th> -->
      
      <!-- </tr>
    </thead> -->
    <!-- 새로 정렬 내용 -->
    <!-- <tbody id="test_table">
         
    </tbody>
  </table> -->
  <!-- </div>   --> 
  
  

  
</body>